body{
	margin: 1em;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
hr{
	clear: both;
}
.hide{
	display: none;
}
.clear{
	clear: both;
}
input[type="checkbox"]{
	vertical-align:middle;
	margin: auto;
}
.checkbox{	
   display: inline-block;
}
.table{
	margin-bottom: 0;
}
.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.nav-tabs.nav-justified>li#螢光之靈 a {
	min-width: 65px;
}
fieldset {
    padding: .35em .625em .75em;
    border: 1px solid silver;
}
legend {
	border: 0;
    width: auto;
    margin-bottom:0;
    font-size: 14px;
}
/**********duoshuo start**************/
#ds-thread #ds-reset .ds-post-self {
	padding: 10px 5px!important;
}
#ds-thread #ds-reset .ds-children .ds-post-self{
	padding: 5px 2px!important;
}
/**********duoshuo end**************/
.fliter_form_div_left{
	float: left;
	margin-right: 10px;
}
@media ( max-width : 1020px){
	.fliter_form_div_left{
		float: none;
	}
}
#filtersTop select{
	height:34px;
}

#theme:hover, #theme:active, #theme:focus,
#theme-fliter:hover, #theme-fliter:active, #theme-fliter:focus{
	background-color: #fff;
}

.weightContainer{
	clear: left;
	margin: 5px 0;
	overflow: hidden;
	display: flex;
}
.weightContainer * {
	float:left;
	border-radius: 0;
	line-height: 1.2;
}
.weightContainer > :first-child {
	border-radius: 4px 0 0 4px;
}
.weightContainer input:last-of-type {
	border-radius: 0 4px 4px 0;
}
.weightContainer label.active{
	font-weight: bold;
}
.weightContainer input{
	width: 7em;
	padding-left: 3px;
	border: 1px solid transparent;
	border-color: #ccc;
}
.weightContainer input#tag1weight, .weightContainer input#tag2weight{
	width: 3em;	
}
.weightContainer select{
	max-width: 65px;
	border: 1px solid transparent;
	border-color: #ccc;
}
.weightContainer .highscore-link{
	color: grey;
	font-style: italic;
	font-weight: bold;
	cursor: pointer;
	display: none;
}
.weightContainer .highscore-rank{
	font-weight: bold;
	display: none;
}
.weightContainer .highscore-link.active{
	color: DeepPink;
}

.fliter_option{
}

/************************/
#category_container div {
	display:none;
}
#category_container div.active {
	display:block;
}
.filterlabel{
	margin-right: 0.5em;
	font-weight: normal;
}
/************************/
.shaonvSkill{
	color: red;
	font-weight:bold;
}
.is_f{
	color: red;
	font-weight:bold;
}	
.not_f{
	color: green;
	font-weight:bold;
}	
.gongzhuSkill{
	color: fuchsia;
	font-weight:bold;
}	
.normalSkill{
	color: grey;
	font-weight:bold;
}	
.hintInfo{
	color: teal;
	font-weight:bold;
}
span.badge{
	background: SlateGray;
}
.gotop{
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}
#update_history{
	display: none;
}
red{
	color: red;
	font-weight:bold;		
}
#advanced_options_span, #front_filter_span{
	display: none;
}
.ds-powered-by, .ds-dialog-footer{
	display: none;
}


div.top{
	float: left;
	padding: 1em;
	width: 100%;
}
div.facet {
}
div.title{		
  max-width: 800px;		
}
div.fliter {
	width:50%;
	float: left;	
}
div.announcement {
	width:45%;
	float: right;
	border: 1px solid lightgrey;
	padding: 5px;
	max-height: 280px;
	overflow: auto;
}
div.announcement hr{
	margin-top: 8px;
	margin-bottom: 8px
}
div#showmore {
	text-align: center;
	padding: 0.6em;
	border-bottom: 1px solid #f3f0f6;
	color: #0984ff;
	cursor: pointer;
}

.FloatMenu {
    position:fixed;
    right:1%;
    top:50%;
    min-height:20px;
    border:0; 
    padding:0;
    margin:0;
    background-color: rgba(0, 0, 0, 0);  
    z-index:5;
}

.FloatMenu li {
  list-style-type:none;
}

.FloatMenu span {
  border:1px solid #999;
  border-radius:5px;
  display:inline-block;
  padding:3px 8px;
  margin:8px;
  text-decoration:none;
  background-color:#AAFDE7;
  position:relative; 
}

.FloatMenu span a {
	text-decoration:none;
	color:#333333;
}

.FloatMenu span:hover{
    background:#DDFEC8;
    border:1px solid #94a0b4;
    color:#000
}